# introduction

This file tests the **wind power forecasting** for the [Global Energy Forecasting Competition 2012 - wind power Forecasting](https://www.kaggle.com/competitions/GEF2012-wind-forecasting/data).

`Goal`: 

- mimicking the operation 48-hour ahead prediction of hourly power generation at 7 wind farms

`Note`:

- 2009/7/1 and 2010/12/31 is a model identification and training period
- the remainder of the dataset, that is, from 2011/1/1 to 2012/6/28, is there for the evaluation
- The forecasting accuracy will be evaluated with a Root Mean Square Error (**RMSE**) criterion

`Data`:

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/raw/GEF2012-wind-forecasting/train.csv')

In [4]:
data['Datetime'] = pd.to_datetime(data['date'], format='%Y%m%d%H')

In [5]:
data = data.set_index('Datetime', drop=True)

In [6]:
data.head()

,date,wp1,wp2,wp3,wp4,wp5,wp6,wp7
Datetime,,,,,,,,
2009-07-01 00:00:00,2009070100,0.045,0.233,0.494,0.105,0.056,0.118,0.051
2009-07-01 01:00:00,2009070101,0.085,0.249,0.257,0.105,0.066,0.066,0.051
2009-07-01 02:00:00,2009070102,0.020,0.175,0.178,0.033,0.015,0.026,0.000
2009-07-01 03:00:00,2009070103,0.060,0.085,0.109,0.022,0.010,0.013,0.000
2009-07-01 04:00:00,2009070104,0.045,0.032,0.079,0.039,0.010,0.000,0.000

In [7]:
data.shape

(18757, 8)

In [8]:
data.index

DatetimeIndex(['2009-07-01 00:00:00', '2009-07-01 01:00:00',
               '2009-07-01 02:00:00', '2009-07-01 03:00:00',
               '2009-07-01 04:00:00', '2009-07-01 05:00:00',
               '2009-07-01 06:00:00', '2009-07-01 07:00:00',
               '2009-07-01 08:00:00', '2009-07-01 09:00:00',
               ...
               '2012-06-26 03:00:00', '2012-06-26 04:00:00',
               '2012-06-26 05:00:00', '2012-06-26 06:00:00',
               '2012-06-26 07:00:00', '2012-06-26 08:00:00',
               '2012-06-26 09:00:00', '2012-06-26 10:00:00',
               '2012-06-26 11:00:00', '2012-06-26 12:00:00'],
              dtype='datetime64[ns]', name='Datetime', length=18757, freq=None)

In [ ]:
# select a certain wind farm, e.g. `wp1`
target = data['wp1']

In [ ]:
target.tail()

In [ ]:
target.shape[0]

In [ ]:
# create `TimeSeries` object

In [9]:
# read-in features (which are already normalised) accordingly w.r.t the wind farm
features = pd.read_csv('../data/raw/GEF2012-wind-forecasting/windforecasts_wf1.csv')

In [12]:
features.tail()

              date  hors     u     v    ws     wd
104827  2012062612    44  2.44  1.08  2.67  66.14
104828  2012062612    45  2.11  1.46  2.57  55.39
104829  2012062612    46  1.63  1.61  2.29  45.42
104830  2012062612    47  1.07  1.58  1.91  34.05
104831  2012062612    48  0.53  1.48  1.58  19.68

In [11]:
features.shape

(104832, 6)

In [ ]:
features.tail()

In [ ]:
# feature engineering a bit, create `future covariates`